.user-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.form-container{
    width: 100%;
    min-height: 100vh;
    background-color: #0002;
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.disable__form{
    display: none;
}

.App__btn{
    
}