@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');


/* ---- RESET ---- */
* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: 'Lato', sans-serif;

  }
  h1, h2, h3, h4, p, ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  button {
    border: none;
  }
  input {
    outline: none;
  }
  